<!DOCTYPE HTML>



<html lang='en'>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">

</head>


<body>

    <!-- background header here -->
    <div class="bg-header">
        <div class="container">
            <br>
            <br>

            <!-- will put time of date here and a inspirational quote -->
            <div class="header__text mt-3">

                <h1 class="text-center mb-3">todo
                    <span class="u-header-bold">list</span>
                </h1>


                <p class="text-center text-muted">A simple todo app built with Node</p>
                <p class="text-muted quote mb-2">
                    <br>
                    <i class="fa fa-quote-left"></i>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio optio similique mollitia ullam reprehenderit
                    consectetur! Mollitia quod doloremque incidunt accusamus, voluptatem qui laboriosam perferendis ea? Perferendis
                    similique provident asperiores debitis!
                    <i class="fa fa-quote-right"></i>
                </p>
                <br>
            </div>

            <!-- ccreate a todo here -->
            <!-- when user hits enter send post request -->



            <input id="form" class="form__input" type="text" name="name" placeholder="Insert your task here...">

            <!-- end form -->
            <ul class="todo">

     
                <!-- end todo ite -->
            </ul>
            <!-- end todo container -->
        </div>
        <!-- end container -->
    </div>
    <!-- end bg-header -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <script src="js/jquery.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>

    <script src="js/main.js"></script>

</body>

</html>